body {
	background: url(../img/12_col.gif) center top repeat-y;
	background-size: 90%;
}

body, main {
	margin: 10px 0;
	display: grid;
	grid-template-columns: 3fr repeat(11, 3fr 1fr) 3fr 3fr;
	grid-template-rows: repeat(4, 150px); /* lös bättre höjd */
	row-gap: 10px;

}

header, [class*=box], section, aside, footer, [class*=footer] {
	border: 1px solid black;
}

header {
	grid-column: 2 / -2;
	grid-row: 1;
}




main {
	width: 100%;
	position: absolute;
}

[class*=box] {
	grid-row: 2;

}

.box1 {
	grid-column: 2 / 5;
}

.box2 {
	grid-column: 6 / span 15;
}

.box3 {
	grid-column: -5 / -2;
}

.content, aside {
	grid-row: 3 / 4;
}

.content {
	grid-column: 2 / span 17;
}

aside {
	grid-column: -7 / -2;
}



footer {
	width: 99%;
	display: grid;
	grid-template-columns: repeat(11, 3fr 1fr) 3fr;
	grid-template-rows: repeat(4, 150px);

	grid-row: 4;
	grid-column: 2 / -2;
	padding: 5px;
}

[class*=footer-section] {
	height: 90%;
	/* lös bättre */
}

.footer-section-1 {
	grid-column: 1 / span 5 ;
}

.footer-section-2 {
	grid-column: 7 / span 5;
}

.footer-section-3 {
	grid-column: 13 / span 5;
}

.footer-section-4 {
	grid-column: -6 / -1;
}




/* mindre desktopskärmar */
@media screen and (max-width: 1200px) {
	.box1 {
		grid-column: 2 / span 5;
	}
	
	.box2 {
		grid-column: 8 / 19;
	}
	
	.box3 {
		grid-column: 20 / -2;
	}
	
	.content {
		grid-column: 2 / 17;
	}
	
	aside {
		grid-column: 18 / -2;
	}
	
}

/* tablets */
@media screen and (max-width: 960px) {
	body {
		grid-template-rows: repeat(5, 150px);
	}

	header {
		grid-row: 1 / 2;
	}

	main {
		margin: auto 0;
	}

	.box1 {
		grid-column: 2 / span 7;
	}
	
	.box2 {
		grid-column: 10 / span 7;
	}
	
	.box3 {
		grid-column: span 7 / -2;
	}
	
	.content {
		grid-column: 2 / span 11;
	}
	
	aside {
		grid-column: span 11 / -2;
	}

	footer {
		grid-row: 4 / 6;
		width: 98.5%;
	}

	[class*=footer] {
		height: auto;
	}

	.footer-section-1, .footer-section-3 {
		grid-column: 1 / span 11;
		margin: 5px 0 5px 5px;
	}

	.footer-section-2, .footer-section-4{
		grid-column: span 11 / -1;
		margin: 5px 5px 5px 0;
	}
}

/* mobiltelefoner */
@media screen and (max-width: 768px) {
	
}